{% extends "base.html" %}

{% block konten2%}

<h1>about me</h1>
<p>hello gaess My name is yusran from class info 1,
    I would like to tell you about my story. the title is (from zero to hero). 
    Have a nice listen! check it out
</p>

{% endblock%}

{% block konten%}

<h1>hello</h1>

<img src="{{ url_for ('static', filename="CV.jpg")}}" width="480px">


<h3> Life is a journey to be experienced, not a problem to be solved
</h3>
 <p>"Hidup adalah sebuah perjalanan yang bisa dijadikan pengalaman bukan sekedar masalah yang harus diselesaikan"</p>

{% endblock%}



