{% extends "base.html" %}

{% block konten%}

<body>
  <table width="100%">
  <tr>
 
  <td width="50" align="center"><h2>form login </h2><br>
  <h5>silahkan isi data anda
   </h5></td>
  </table>
  <hr>

  <td width="50" align="center"><h2>Login Mahasiswa</h2>

<form method="POST">
       {{form.hidden_tag()}}
    <div class="form-group">
      {{form.npm.label(class="form-control-label")}}
      {% if form.npm.errors %}
           {{form.npm(class="form-control is-invalid")}}

           <div class="invalid">
             {%for error in form.npm.errors %}
             <span>{{error}}</span>
             {% endfor %}
           </div>
      {%else%}
        {{form.npm(class="form-control")}}

      {%endif%}
    </div>


    <div class="form-group">
      {{form.password.label(class="form-control-label")}}
      {% if form.password.errors %}
           {{form.password(class="form-control is-invalid")}}

           <div class="invalid">
             {%for error in form.password.errors %}
             <span>{{error}}</span>
             {% endfor %}
           </div>
      {%else%}
        {{form.password(class="form-control")}}

      {%endif%}
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
  </form>

  <span> <a href="{{ url_for('rmahasiswa.data_m')}}"></a></span>


{% endblock%}

